* { b-webkit-box-sizing: border-box; -moz-box-sizing: border-box;
box-sizing: border-box; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
html{height: 100%;}
body { font-family: $app-font; font-size: $ratio*10px; @include fadeIn(1s); color: #FFF; @include ha(); background-color: #0C0D0F; }


// FIRST SECTION
.svn-first  .background{
            position: absolute;
        top: 0;
        z-index: -10;
        width: 100%; height: 790px;
    &__overlay{
        z-index: 100;
        background: radial-gradient(79% 72%, rgba(45, 29, 37, 0.93) 51%, #0C0D0F 68%);  width: 100%; height: 790px;
        position: relative;
        max-width: 1390px;
        margin: 0 auto;
    }
    &__movies{
        z-index: 10;
        width: 100%;
        max-width: 1190px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top:0;
        .movies__col{
            background-image: url(../img/background2.png);
            background-size: 1400% 100%;
            background-repeat: repeat-y;
            height: 790px;
            width:$col;
            display: inline-block;
            -webkit-transform: translate3d(0,0,0);
            transform: translateZ(0);
        }

        .movies__col--1{
        background-position: 0% 0%;
        -webkit-animation: col--1__anim 40s linear infinite;
               animation: col--1__anim 40s linear infinite;
        }
        .movies__col--2{
        left:$col;
        background-position:$col 0%;
        -webkit-animation: col--2__anim 40s linear infinite;
               animation: col--2__anim 40s linear infinite;
        }
        .movies__col--3{
        left:$col*2;
        background-position:$col*2 0%;
        -webkit-animation: col--3__anim 40s linear infinite;
               animation: col--3__anim 40s linear infinite;
        }
        .movies__col--4{
        left:$col*3;
        background-position:$col*3 0%;
        -webkit-animation: col--4__anim 40s linear infinite;
               animation: col--4__anim 40s linear infinite;
        }
        .movies__col--5{
        left:$col*4;
        background-position:$col*4 0%;
        -webkit-animation: col--5__anim 40s linear infinite;
               animation: col--5__anim 40s linear infinite;
        }
        .movies__col--6{
        left:$col*5;
        background-position:$col*5 0%;
        -webkit-animation: col--6__anim 40s linear infinite;
               animation: col--6__anim 40s linear infinite;
        }
        .movies__col--7{
        left:$col*6;
        background-position:$col*6 0%;
        -webkit-animation: col--7__anim 40s linear infinite;
               animation: col--7__anim 40s linear infinite;
        }
        .movies__col--8{
        left:$col*7;
        background-position:$col*7 0%;
        -webkit-animation: col--8__anim 40s linear infinite;
               animation: col--8__anim 40s linear infinite;
        }
        .movies__col--9{
        left:$col*8;
        background-position:$col*8 0%;
        -webkit-animation: col--9__anim 40s linear infinite;
               animation: col--9__anim 40s linear infinite;
        }
        .movies__col--10{
        left:$col*9;
        background-position:$col*9 0%;
        -webkit-animation: col--10__anim 40s linear infinite;
               animation: col--10__anim 40s linear infinite;
        }
        .movies__col--11{
        left:$col*10;
        background-position:$col*10 0%;
        -webkit-animation: col--11__anim 40s linear infinite;
               animation: col--11__anim 40s linear infinite;
        }
        .movies__col--12{
        left:$col*11;
        background-position:$col*11 0%;
        -webkit-animation: col--12__anim 40s linear infinite;
               animation: col--12__anim 40s linear infinite;
        }
        .movies__col--13{
        left:$col*12;
        background-position:$col*12 0%;
        -webkit-animation: col--13__anim 40s linear infinite;
               animation: col--13__anim 40s linear infinite;
        }
        .movies__col--14{
        left:$col*13;
        background-position:$col*13 0%;
        -webkit-animation: col--14__anim 40s linear infinite;
               animation: col--14__anim 40s linear infinite;
        }

    }
}
.svn-first { height: 790px;}
.svn-first-container { width: 70%; margin: 0 auto; padding-top: 10%; text-align: center; }
.svn-first-card-container { display: inline-block; vertical-align: middle; max-width: 227px; margin-right: 70px; }
.svn-first-desc-container { display: inline-block; vertical-align: middle; text-align: left; }
.svn-first-desc-txt { font-size: 1.2rem; line-height: 1.6; margin-top: 10px; max-width: 505px; }
.svn-first-btn-buy, .svn-first-btn-case { display: inline-block;  padding: 18px 30px; margin: 35px 17px 0 0; text-decoration: none; text-transform: uppercase; @include cta-web; font-size: 12px; color: #FFF; }
.svn-first-btn-buy { border-radius: 3px; border-bottom: 1px solid $defaultrose; background:linear-gradient(-135deg, #DF4183 0%, #9F1C4E 100%); }
.svn-first-btn-buy:hover { background:linear-gradient(-135deg, #AD255E 0%, #800936 100%); border-bottom: 1px solid $darkrose; }
.svn-first-btn-case { border-radius: 3px;border: 1px solid #FFF; background: url("../img/medium.jpg") no-repeat scroll 0px -2px transparent; padding-left: 72px; }
.svn-first-btn-case:hover { background: #FFF url(../img/medium.jpg) no-repeat 0px -2px; color: #333346;font-weight: 600; }

// 2ND SECTION
.svn-second { background: linear-gradient(-180deg, #0C0B0E 0%, #111 100%); padding-top: 80px; }
.svn-second-desc { color: #aaa; line-height: 1.5; margin-top: 15px;}
.svn-second-containers { margin-top: 80px; }
.svn-second-container { width: 80%; margin: 0 auto; text-align: center; }
.svn-second-list-container, .svn-second-card { text-align: left; display: inline-block; vertical-align: top; }
.svn-second-list-container { margin-right: 170px; }
.svn-second-list { list-style-type: none; }
.svn-second-list-text { width: 380px; }
.svn-second-list-item { margin-bottom: 30px; }
.svn-second-list-item:last-child { margin-bottom: 0px; }
.svn-second-list-item img { margin-right: 23px; }
.svn-second-list-text, .svn-second-list-item img { display: inline-block; vertical-align: middle; }
.svn-second-list-text h4 { font-size: 1rem; }
.svn-second-list-text p { margin-top: 6px; font-size: 1rem; color: #aaa; line-height: 1.2; }

// 3RD SECTION
.svn-third { text-align: center; padding-top: 80px; background-color: #fff; }
.svn-third-title { color: #111; }
.svn-third-desc { color: #aaa; line-height: 1.5; margin-bottom: 80px; margin-top: 15px; }
.svn-third-img { margin-bottom: 40px; }
.svn-third-btn { margin: 0 auto; padding-bottom: 80px; }
.svn-third-btn a { margin: 0; }

// FOOTER
footer { height: 133px; background: #111; color: #ffffff; display: table; text-align: center; width: 100%; }
footer div { display: table-cell; vertical-align: middle; }
footer p { color: #aaa; font-weight: 400; font-size: 12px; letter-spacing: 1px; }
footer a { color: #fff; }
