/*=============================================================================
   SPACING + RATIO
   ========================================================================== */

$ratio: 1.6180339;
$col0:7.1428571429%;
$col:7.6923076923%;
$background-size-col:85px;
$colpx:85px;