/*=============================================================================
   COLORS
   ========================================================================== */

$defaultrose: #9F1C4E;
$darkrose: #861842;

$defaultgrey: #727177;

$thriller: #1E8BC3;

$primary: #fff;
$secondary: $defaultrose;

/**** GLOBAL RULES ****/

h1, h2, p { color: $primary; }